<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>


<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="username">Korisničko ime:</label>
    <input type="text" id="username" name="username" required [(ngModel)]="username">
    <label for="password">Lozinka:</label>
    <input type="password" id="password" name="password" required [(ngModel)]="password">
    <button type="submit">Login</button>
  </form>

  <p>Za studente: Vaše korisničko ime je godina upisa i broj indeksa. (Primer: 2019270460)</p>
  <br>
  <p>Vaša prvobitna lozinka Vam je dodeljena na papiru od strane studentske službe.</p>

</div>

</body>
</html>