<header>
  <div class="logo"><img src="./assets/images/singidunum-logo.png" width="50" height="50" alt=""></div>
  <nav>
    <ul>
      <li><a id="navlink" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a></li>
      <li><a id="navlink" routerLink="/fakulteti" routerLinkActive="active">Fakulteti</a></li>
      <li class="dropdown-wrapper">
        <a routerLink="/studijski-programi" routerLinkActive="active">Studijski programi</a>
        <div class="dropdown-content">
          <a routerLink="/studijski-programi" routerLinkActive="active">Osnovne studije</a>
          <a href="https://example.com/master-studije" target="_blank">Master studije</a>
          <a href="https://example.com/doktorske-studije" target="_blank">Doktorske studije</a>
        </div>
      </li>
      <li><a id="navlink" routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a id="navlink" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a id="navlink" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    </ul>
  </nav>
  <div class="buttons">
    <button *ngIf="!isLoggedIn()" class="button" (click)="navigateTo('/login')">Login</button>
    <div *ngIf="isLoggedIn()" class="profile-icon" (click)="toggleDropdown()">
      <img src="../assets/images/profile-icon.png" alt="Profile Icon">
      <div *ngIf="showDropdown" class="dropdown-content">
        <a (click)="navigateTo('/studenti/profil')">Profile</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>