
header {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
      color: #000;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .logo {
      flex: 1;
      font-weight: bold;
      font-size: 24px;
    }
    
    nav {
      flex: 2;
      text-align: center;
    }
    
    
    .dropdown-content {
      background-color: #ffffffaf;
      border-radius: 15px;
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      padding: 10px; 
    }
    
    .dropdown-content a {
      display: block; 
      color: #D71921; 
      text-decoration: none; 
      margin-bottom: 15px;
    }
    
    .dropdown-wrapper:hover .dropdown-content {
      display: block;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
    }
    
    nav ul li {
      display: inline-block;
      margin-left: 20px;
    }
    
    nav ul li:first-child {
      margin-left: 0;
    }
    
    #navlink {
    color: #827A7A;
    }
    
    nav ul li a {
    
      text-decoration: none;
      font-weight: bold;
    }
    
    .buttons {
      flex: 1;
      text-align: right;
    }
    
    a#navlink.active {
      color: #D71921;
    }
    
    .buttons button {
      border-radius: 20px;
      background-color: #D71921;
      color: white;
      border: none;
      padding: 10px 20px;
      margin-left: 10px;
      cursor: pointer;
    }
    
    .buttons button:hover {
      transform: scale(1.1);
    }

    a{
        color:#827A7A ;
    }

    a.active{
        color: #D71921;
    }
    .profile-icon {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      top: 100%;
      right: 0; 
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    
    .profile-icon img {
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-right: 5px;
      cursor: pointer;
    }
    
    .profile-icon:hover .dropdown-content {
      display: block;
    }
    
    .profile-icon:hover {
      background-color: #f9f9f9;
      border-radius: 50%; 
      padding: 5px; 
    }
    