<div>
  <input type="text" [(ngModel)]="filterTerm" (input)="applyFilter()" placeholder="Search...">
</div>

<div>
  <mat-form-field>
    <mat-label>Filter by Year</mat-label>
    <mat-select [(ngModel)]="selectedYear" (selectionChange)="applyFilter()">
      <mat-option *ngFor="let year of uniqueYears" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<button mat-button (click)="clearFilter()">Clear Filter</button>

<table mat-table [dataSource]="filteredStudents" class="mat-elevation-z8">

  <ng-container matColumnDef="ime">
    <th mat-header-cell *matHeaderCellDef>Ime</th>
    <td mat-cell *matCellDef="let student">{{ student.ime }}</td>
  </ng-container>
  <ng-container matColumnDef="brojIndeksa">
    <th mat-header-cell *matHeaderCellDef>Broj indeksa</th>
    <td mat-cell *matCellDef="let student">{{ student.brojIndeksa }}</td>
  </ng-container>
  <ng-container matColumnDef="datumUpisa">
    <th mat-header-cell *matHeaderCellDef>Godina upisa</th>
    <td mat-cell *matCellDef="let student">{{ student.datumUpisa }}</td>
  </ng-container>
  <ng-container matColumnDef="korisnickoIme">
    <th mat-header-cell *matHeaderCellDef>KorisnickoIme</th>
    <td mat-cell *matCellDef="let student">{{ student.korisnickoIme }}</td>
  </ng-container>

  
  <tr mat-row *matRowDef="let student; columns: ['ime', 'brojIndeksa', 'datumUpisa', 'korisnickoIme']" (click)="onRowClick(student.korisnickoIme)"></tr>
</table>

