<h1>Prijava ispita</h1>

<table>
    <thead>
      <tr>
        <th>Naziv predmeta</th>
        <th>ESPB</th>
        <th>Nastavnik</th>
        <th>Prijavi</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let prijava of prijave">
          <td>{{prijava.nazivPredmeta}}</td>
          <td>{{prijava.espb}}</td>
          <td>{{prijava.nastavnik}}</td>
        </tr>
      </tbody>
</table>
