<div class="container">
  <h1>Predmeti</h1>
  <table>
      <thead>
        <tr>
          <th>Naziv</th>
          <th>ESPB</th>
          <th>Obavezan</th>
          <th>Broj predavanja</th>
          <th>Broj vezbi</th>
          <th>Drugi oblici nastave</th>
          <th>Istrazivacki rad</th>
          <th>Ostali casovi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let predmet of predmeti">
          <td>{{ predmet.naziv}}</td>
          <td>{{predmet.espb}}</td>
          <td>{{predmet.obavezan}}</td>
          <td>{{predmet.brojPredavanja}}</td>
          <td>{{predmet.brojVezbi}}</td>
          <td>{{predmet.drugiObliciNastave}}</td>
          <td>{{predmet.istrazivackiRad}}</td>
          <td>{{predmet.ostaliCasovi}}</td>

        </tr>
      </tbody>
    </table>
</div>


