<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studijski programi</title>
</head>
<body>
  <h1 style="margin: 0;">Studijski programi osnovnih akademskih studija realizovani na srpskom jeziku:

  </h1>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li *ngFor="let program of programs" 
            (click)="selectProgram(program)" 
            [ngClass]="{'selected': program === selectedProgram}">
          {{ program.name }}
        </li>
      </ul>
    </div>
    <div class="detail">
      <h2>{{ selectedProgram?.name }}</h2>
      <div [innerHTML]="selectedProgram?.description"></div>
    </div>
  </div>
</body>
</html>
