body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    min-height: 100vh;
  }
  



  .container {
    display: flex;
    margin-top: 50px;

  }
  
  .sidebar {
    flex: 1;
    padding: 20px;
    color: #F2F2F2;
    background-color: #D71921;
    border-radius: 0% 100% 42% 58% / 100% 50% 50% 0%  ;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    cursor: pointer;
    padding: 5px 0;
  }
  
  .detail {
    flex: 3;
    padding: 20px;
  }
  
  .selected {
    color: yellow; 
  }


  