<div>
    <div class="sidebar">
        <h3>Navigation</h3>
        <ul>
            <li><a routerLink="nastavnik-predmeti" class="sidebar-link">Moji Predmeti</a></li>
            <li><a routerLink="obavestenja-nastavnik" class="sidebar-link">Obavestenja</a></li>
            <li><a routerLink="nastavnik-studenti" class="sidebar-link">Studenti</a></li>
            <li><a routerLink="ispiti" class="sidebar-link">Ispiti</a></li>

        </ul>
    </div>
    <div class="content">
        <router-outlet>
        
        </router-outlet>
    </div>
</div>