<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>
</head>
<body>
    
<header></header>

<form id="registrationForm" (ngSubmit)="updateStudent()">
  <label for="ime">Ime:</label>
  <input type="text" id="ime" name="ime" [(ngModel)]="student.ime" required>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" [(ngModel)]="student.email" required>
  <label for="jmbg">JMBG:</label>
  <input type="text" id="jmbg" name="jmbg" [(ngModel)]="student.jmbg" required>
  <button type="submit">Sačuvaj promene</button>
</form>

  
</body>
</html>
