/* confirmation-dialog.component.css */
h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  strong {
    font-weight: bold;
  }
  
  .mat-dialog-content {
    margin-top: 16px;
    margin-bottom: 24px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .mat-dialog-actions button {
    margin-left: 8px;
  }
  
  button {
    border: none;
    background-color: #007bff;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    margin-left: 50px;
    
  }
  
  button:hover {
    background-color: #0056b3;
  }
  