<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
Da li ste sigurni da želite da unesete ove podatke?
  <ul>
    <li><strong>Naziv:</strong> {{ form.naziv }}</li>
    <li><strong>Fakultet:</strong> {{ form.fakultet }}</li>
    <li><strong>Broj Godina:</strong> {{ form.brojGodina }}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Da</button>
  <button mat-button [mat-dialog-close]="false">Ne</button>
</div>
