<h2 mat-dialog-title>Confirmation</h2>
<div mat-dialog-content>
  Da li ste sigurni?
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onConfirm()">Da</button>
  <button mat-button (click)="onCancel()">Ne</button>
</div>