/* delete-confirmation-dialog.component.css */
:host {
    display: block;
    padding: 24px;
    box-sizing: border-box;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .mat-dialog-content {
    margin-top: 16px;
    margin-bottom: 24px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
  }
  
  .mat-dialog-actions button {
    margin-left: 8px;
  }
  
  button {
    border: none;
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #c82333;
  }
  