body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}



.container {
  height: 800px;
  background-color: #D71921;
  border-radius: 60% 40% 57% 43% / 71% 65% 35% 29% ;
  padding-top: 100px;
}
h1{
  text-align: center;
}

.container2 {
  color: #F2F2F2;
  margin-left: 300px;
  margin-right: 200px;
}
