
<div class="container">
  <h1>Podaci o studentu</h1>
  

  <p>Ime: {{studentPodaci.ime}}</p>
  <p>JMBG: {{studentPodaci.jmbg}}</p>
  <p>Broj Indexa: {{studentPodaci.brojIndeksa}}</p>
  
  
  <table>
      <thead>
          <tr>
              <th>Bodovi</th>
              <th>ESPB</th>
              <th>Konacna Ocena</th>
              <th>Naziv Predmeta</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let polozeniIspit of polozeniIspiti">
              <td>{{polozeniIspit.bodovi}}</td>
              <td>{{polozeniIspit.espb}}</td>
              <td>{{polozeniIspit.konacnaOcena}}</td>
              <td>{{polozeniIspit.nazivPredmeta}}</td>
        </tr>
      </tbody>
  </table>
</div>
