<div class="container">
  <h1>Uredjivanje uloge</h1>
  <form>
      <div class="form-group">
          <label for="korisnickoIme">Korisnicko ime: </label>
          <label id="korisnickoIme" style="font-weight: bold; font-size: 1.1em;"> {{ korisnickoIme }}</label>
          <br>
          <br>
      </div>
      <div class="form-group">
          <label for="role">Uloga:</label>
          <br>
          <select id="role" name="role" [(ngModel)]="selectedRole">
              <option value="ROLE_ADMIN">ROLE_ADMIN</option>
              <option value="ROLE_STUDENT">ROLE_STUDENT</option>
              <option value="ROLE_NASTAVNIK">ROLE_NASTAVNIK</option>
          </select>
      </div>
      <br>
      <button (click)="izmeni()">Save</button>
  </form>
</div>
