<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
</head>
<body>
<header></header>
<div class="login-container">
<h2>Registracija</h2>
<form id="registrationForm" (ngSubmit)="onSubmit()">
<label for="name">Puno ime:</label>
<input type="text" id="name" name="name" [(ngModel)]="ime" required>
<label for="email">Email:</label>
<input type="email" id="email" name="email" [(ngModel)]="email" required>
<label for="username">Korisničko ime:</label>
<input type="text" id="username" name="username" [(ngModel)]="username" required>
<label for="jmbg">JMBG:</label>
<input type="text" id="jmbg" name="jmbg" [(ngModel)]="jmbg" required>
<label for="password">Lozinka:</label>
<input type="password" id="password" name="password" [(ngModel)]="password" required>
<label for="role">Uloga:</label>
<select id="role" name="role" (change)="toggleBiographyField()">
<option value="student">Student</option>
<option value="nastavnik">Nastavnik</option>
</select>
<br>
<div id="biografijaField" style="display: none;">
<label for="biografija">Biografija:</label>
<textarea id="biografija" name="biografija" [(ngModel)]="biografija"></textarea>
</div>
<button type="submit">Registracija</button>
</form>
<br>
<p>Za studente: Vaše korisničko ime je godina upisa i broj indeksa. (Primer: 2019270460)</p>
<p>Vaša prvobitna lozinka Vam je dodeljena na papiru od strane studentske službe.</p>
</div>
</body>
</html>