body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}
 
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
}
 
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
label {
  margin-top: 10px;
}
 
input, textarea, button {
  padding: 10px;
  margin-top: 5px;
  width: calc(100% - 50px); 
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
}
 
select{
  padding: 10px;
  margin-top: 5px;
  width: calc(100% - 200px); 
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  text-align: center;
}
 
input:hover, select:hover, textarea:hover, button:hover {
  background-color: #e9e9e9;
}
 
input:focus, select:focus, textarea:focus {
  border-color: #5c9ded;
}
 
button {
  margin-top: 20px;
  background-color: #D71921;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
button:hover {
  background-color: #FF5A5F;
}
 
/* Style for the label */
label[for="role"] {
  font-weight: bold;
  margin-right: 10px;
}
 
#biografija {
  height: 150px; /* Adjust height as needed */
  resize: vertical; /* Allow vertical resizing */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
}