
body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

  

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 450px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 10px;
    background-color: #B32038;
    border-radius: 25px;
    color: white;
    position: relative;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
  }
  
  .container {
    padding: 2px 16px;
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #D71923;
    border-radius:60% 40% 57% 43% / 71% 65% 35% 29%  ;
  }

  .grid-item{
    margin: 10px;
  }
  .card__btn {
    position: absolute;
    margin-left: 25%;
    bottom: 25px;
  }
  
  .card__btn a {
    color: white;
    display: inline-block;
    transition: background-color 0.3s;
  }

  .arrow {
    border: solid white;
    border-width: 0 2px 1px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  