body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
  }
  
  header {
    color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    flex: 1;
    font-weight: bold;
    font-size: 24px;
  }
  
  nav {
    flex: 2;
    text-align: center;
  }
  
  
  .dropdown-content {
    background-color: #ffffffaf;
    border-radius: 15px;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    padding: 10px; 
  }
  
  .dropdown-content a {
    display: block; 
    color: #D71921; 
    text-decoration: none; 
    margin-bottom: 15px;
  }
  
  .dropdown-wrapper:hover .dropdown-content {
    display: block;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  #navlink {
  color: #827A7A;
  }
  
  nav ul li a {
  
    text-decoration: none;
    font-weight: bold;
  }
  
  .buttons {
    flex: 1;
    text-align: right;
  }
  
  a#navlink.active {
    color: #D71921;
  }
  
  .buttons button {
    border-radius: 20px;
    background-color: #D71921;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    transform: scale(1.1);
  }
  
  
    
    .hero {
      height: 100%;
      position: relative;
      width: 100%;
      height: 700px; 
      background-image: url('/assets/images/hero.png'); 
      background-size: cover;
      background-position: center;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 40%; 
      color: black;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    h1 {
      font-size: 50px;
      margin-bottom: 50px;
      color: #D71923;
    }
    
    p {
      font-size: 25px;
      margin-bottom: 150px;
      color: gray;
    }
    