.sidebar {
    flex: 1;
    padding: 20px;
    color: #F2F2F2;
    background-color: #D71921;
    border-radius: 0% 100% 42% 58% / 100% 50% 50% 0%;
    display: inline-block;
    margin-right: 150px;
}
.sidebar-link {
    display: block;
    padding: 10px;
    color: #FFF;
    text-decoration: none; 
}
 
.sidebar-link:hover {

    color: #eaf20b; 
   
}
.content {
    display: inline-block;
}

.sidebar-link:active {
    color: #eaf20b;
}
