<div>
    <div class="sidebar">
        <h3>Navigation</h3>
        <ul>
            <li><a routerLink="uloge" class="sidebar-link">Korisnici</a></li>
            <li><a routerLink="obavestenja-nastavnik" class="sidebar-link">Administracija</a></li>
            <li><a routerLink="upis" class="sidebar-link">Upis</a></li>
            <li><a routerLink="smerovi" class="sidebar-link">Studijski programi</a></li>            
            <li><a routerLink="ispiti" class="sidebar-link">Obavestenja</a></li>

        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    
</div>