<form>
    <table>
      <thead>
        <tr>
          
          <th>Obrisi</th>
          <th>Naziv</th>
          <th>Fakultet</th>
          <th>Broj Godina</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let smer of smerovi; let i = index;">
          <tr>
            <td>
              <label class="checkbox-container">
                <input type="checkbox" [(ngModel)]="checkedRows[i]" name="checkedRows">
                <span class="checkbox-custom"></span>
              </label>
            </td>
            <td>{{ smer.naziv }}</td>
            <td>{{ smer.fakultet }}</td>
            <td>{{ smer.brojGodina }}</td>
          </tr>
        </ng-container>
        <td></td>
        <td><input type="text" [(ngModel)]="newStudijskiProgram.naziv" name="naziv"></td>
        <td>
          <select [(ngModel)]="newStudijskiProgram.fakultet" name="fakultet">
            <option *ngFor="let fakultet of fakulteti" [value]="fakultet.naziv">{{ fakultet.naziv }}</option>
          </select>
        </td>
        <td><input type="text" [(ngModel)]="newStudijskiProgram.brojGodina" name="brojGodina"></td>

    </tbody>
  </table>
  <button type="button" (click)="openConfirmationDialog()">Submit</button>
  <button class="delete" type="button" (click)="deleteCheckedRows()">Delete</button>
</form>
