form{
  margin-top: 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f2f2f2;
}

input {
  border: 1px solid #dddddd;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

button {
  border-radius: 15px;
  border: none;
  background-color: #1962d7;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #103c83;
}


.delete {
  border-radius: 15px;
  border: none;
  background-color: #D71921;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
}

.delete:hover {
  background-color: #8d1117;
}

select {
    border: 1px solid #dddddd;
    padding: 4px;
    padding-left: 120px;
    width: 100%;
    box-sizing: border-box;
    text-align-last: left;
    font-size: 16px; /* Increase the font size */

  }
  
  select:hover {
    background-color: #f2f2f2; /* Hover color */
  }
  
  select:focus {
    outline: none; /* Remove outline when focused */
  }
  
  option{
    text-align: left;
    padding-left: 100px;
  }
  
  /* Hover and focus styles */
  select:hover,
  select:focus {
    background-color: #f2f2f2; /* Hover color */
    outline: none; /* Remove outline when focused */
  }

  /* Style for checkboxes */
.checkbox-container {
  display: inline-block;
  vertical-align: middle;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-custom {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #D71921;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-custom::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #D71921;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container input[type="checkbox"]:checked + .checkbox-custom::after {
  display: block;
}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  display: none;
}
.small-column {
  width: 30px; /* Set the desired width for the smaller column */
}