body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}



  
  .hero {
    height: 100%;
    position: relative;
    width: 100%;
    height: 700px; 
    background-image: url('/assets/images/hero.png'); 
    background-size: cover;
    background-position: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%; 
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 50px;
    color: #D71923;
  }
  
  p {
    font-size: 25px;
    margin-bottom: 150px;
    color: gray;
  }
  