<div>
    <div class="sidebar">
        <h3>Navigation</h3>
        <ul>
            <li><a routerLink="predmeti" class="sidebar-link">Predmeti</a></li>
            <li><a routerLink="ispiti" class="sidebar-link">Ispiti</a></li>
            <li><a routerLink="obavestenja" class="sidebar-link">Obavestenja</a></li>
            <li><a routerLink="prijava-ispita" class="sidebar-link">Prijava ispita</a></li>
        </ul>
    </div>
    <div class="content">
        <router-outlet>
 
        </router-outlet>
    </div>
</div>