<div class="container">
    <h1>Polozeni ispiti</h1>
    <table>
        <thead>
          <tr>
            <th>Naziv</th>
            <th>ESPB</th>
            <th>Bodovi</th>
            <th>Konacna ocena</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ispit of ispiti">
            <td>{{ ispit.naziv}}</td>
            <td>{{ispit.espb}}</td>
            <td>{{ispit.bodovi}}</td>
            <td>{{ispit.konacnaOcena}}</td>
          </tr>
        </tbody>
      </table>
</div>