<body>
    <div class="form-container">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Studenti:</mat-label>
          <mat-select [(ngModel)]="selectedStudentUsername" (selectionChange)="onStudentSelect()">
            <mat-option *ngFor="let student of studenti" [value]="student">{{ student }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Studijski programi:</mat-label>
          <mat-select [(ngModel)]="selectedStudijskiProgram" (selectionChange)="onStudijskiProgramSelect()" [disabled]="selectedStudijskiProgram !==''" [disabled]="!selectedStudentUsername">
            <mat-option *ngFor="let program of studijskiProgrami" [value]="program">{{ program }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Godina studija:</mat-label>
          <mat-select [(ngModel)]="selectedGodinaStudija" (selectionChange)="onGodinaStudijaSelect()" [disabled]="!selectedStudijskiProgram">
            <ng-container *ngFor="let godina of godineStudija">
              <mat-option *ngIf="godina >= trenutnaGodina" [value]="godina">{{ godina }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="student-info" *ngIf="selectedStudentUsername || selectedStudijskiProgram || selectedGodinaStudija">
        <h3>Selected Student Information</h3>
        <p><strong>Username:</strong> {{ selectedStudentUsername }}</p>
        <p><strong>Studijski Program:</strong> {{ selectedStudijskiProgram }}</p>
        <p *ngIf="trenutnaGodina === 0"><strong>Student nije trenutno upisan ni na jednu godinu</strong></p>
        <p *ngIf="trenutnaGodina !== 0"><strong>Trenutna godina studija:</strong> {{ trenutnaGodina }}</p>
  
        <p><strong>Godina Studija:</strong> {{ selectedGodinaStudija }}</p>
  
        <button mat-raised-button color="primary" (click)="submit(selectedStudentUsername, selectedStudijskiProgram, selectedGodinaStudija)">Upisi</button>
      </div>
    </div>
  </body>
  