<!-- uloge.component.html -->

<div class="container">
  <h1>Registrovani korisnici</h1>
  <table>
    <thead>
      <tr>
        <th>Korisnicko ime</th>
        <th>Email</th>
        <th>Pravo pristupa</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let korisnik of korisnici">
        <td>{{ korisnik.korisnickoIme}}</td>
        <td>{{korisnik.email}}</td>
        <td>{{korisnik.pravoPristupa}}</td>

        <td><a [routerLink]="['/studentska-sluzba', 'uredi-ulogu', korisnik.korisnickoIme]">Izmeni pravo pristupa</a></td>
      </tr>
    </tbody>
  </table>

  <div class="content">
    <router-outlet>
      
    </router-outlet>
  </div>
</div>

