<h1>Studenti na predmetu</h1>
<table>
    <thead>
      <tr>
        <th>Korisnicko Ime</th>
        <th>Ime</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studenti">
        <td>{{ student.korisnickoIme}}</td>
        <td>{{student.ime}}</td>
        <td>{{student.email}}</td>
    </tbody>
  </table>
